/* ::::: http://89.97.56.42/modules/system/system.base.css?nb9m4n ::::: */
.wrapper{border-top: none;background: #ffffff;}
.container{width: 1280px;}
#sidebar-first{width: 266px;margin-left:18px;}
.toolbar{
	background-color: white;
	padding: 0px;
	margin-bottom: 0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.format-label[data-format=wms], .format-label[data-format*=wms] {
	background-position: 0 0;
	background-image: url("/catalog/img/icon-wms.png");
}
.toolbar .breadcrumb {
	margin: 1px 0 0 18px;
	padding: 0px 7px 9px 0;
}
h1#page-title {
	color: #104769;
	margin-top: 11px;
	font-family: Calibri;
	margin-left: 20px;
	font-size: 24px;
	line-height: 1;
}
.linea_pagina {
	background-color: #104769;
	background-position: 0 1px;
	background-repeat: repeat-x;
	color: #104769;
	height: 5px;
	width: 680px;
	margin-top: -11px;
	margin-left: 18px;
}
.breadcrumb>li {
	font-size: 12px !important;
	font-family: Calibri;
	font-weight: normal !important;
}
.toolbar .breadcrumb li:after {
	content: " » ";
}
.page-header {
	background-color: #fff;
}
.media-grid {
	background: #fff;
}
p {
	margin: 0 0 1.2em;
	font-family: "Calibri";
	/* font-size: 15px; */
	text-align: justify;
}
[role=main] .primary {
	width: 731px;
	float: right;
}
#main-content {
	float: right;
	margin-right: 42px;
	width: 953px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.0em 0 0.5em;
	font-weight: inherit;
}
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
/* ::::: http://89.97.56.42/modules/system/system.menus.css?nb9m4n ::::: */

ul.menu { border: medium none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0px 0px 0px 0.5em; }
ul li.leaf { 
/*list-style-image: url('menu-leaf.png'); 
list-style-type: square; 
*/}
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0px 0px; margin: 0px; }
li a.active { color: rgb(0, 0, 0); }
/* ::::: http://89.97.56.42/modules/system/system.messages.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/modules/system/system.theme.css?nb9m4n ::::: */

img { border: 0px none; }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; }
/* ::::: http://89.97.56.42/sites/all/modules/date/date_api/date.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/modules/field/theme/field.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/modules/node/node.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/modules/search/search.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/modules/user/user.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/views/css/views.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/apachesolr_autocomplete/apachesolr_autocomplete.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/apachesolr_autocomplete/jquery-autocomplete/jquery.autocomplete.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/ckeditor/ckeditor.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/ctools/css/ctools.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/panels/css/panels.css?nb9m4n ::::: */

div.panel-pane div.node { margin: 0px; padding: 0px; }
/* ::::: http://89.97.56.42/sites/all/modules/views_slideshow/views_slideshow.css?nb9m4n ::::: */

/* ::::: http://89.97.56.42/sites/all/modules/panels/plugins/layouts/flexible/flexible.css?nb9m4n ::::: */

.panel-flexible .panel-separator { margin: 0px 0px 1em; }
/* ::::: http://89.97.56.42/sites/all/modules/views_slideshow/views_slideshow_controls_text.css?nb9m4n ::::: */

.views_slideshow_controls_text span:hover { text-decoration: underline; cursor: pointer; }
/* ::::: http://89.97.56.42/sites/all/modules/views_slideshow/contrib/views_slideshow_cycle/views_slideshow_cycle.css?nb9m4n ::::: */

.views_slideshow_cycle_no_display, .views_slideshow_cycle_hidden, .views_slideshow_cycle_controls, .views_slideshow_cycle_image_count { display: none; }
/* ::::: http://89.97.56.42/sites/all/modules/social-share/icons/social-share-icons-32.css?nb9m4n ::::: */

div.social-share span, div.social-share a { float: left; margin-right: 4px; }
a.social-share-facebook { display: block; height: 32px; width: 32px; text-indent: -9999px; background: url('iconpack-32.png') no-repeat scroll -64px 0px transparent; }
a.social-share-googleplus { display: block; height: 32px; width: 32px; text-indent: -9999px; background: url('iconpack-32.png') no-repeat scroll -96px 0px transparent; }
a.social-share-twitter { display: block; height: 32px; width: 32px; text-indent: -9999px; background: url('iconpack-32.png') no-repeat scroll -352px 0px transparent; }
/* ::::: http://89.97.56.42/sites/all/modules/quicktabs/css/quicktabs.css?nb9m4n ::::: */

.quicktabs-hide { display: none; }
ul.quicktabs-tabs { margin-top: 0px; }
ul.quicktabs-tabs li { display: inline; background: none repeat scroll 0% 0% transparent; list-style-type: none; padding: 2px; white-space: nowrap; }
ul.quicktabs-tabs li a:focus { outline: medium none; }
/* ::::: http://89.97.56.42/sites/default/files/ctools/css/99727041869de253ae582c6c4bdd3df4.css?nb9m4n ::::: */

.panels-flexible-region { padding: 0px; }
.panels-flexible-region-inside { padding-right: 0.5em; padding-left: 0.5em; }
.panels-flexible-region-inside-first { padding-left: 0px; }
.panels-flexible-region-inside-last { padding-right: 0px; }
.panels-flexible-row { padding: 0px 0px 0.5em; margin: 0px; }
.panels-flexible-row-last { padding-bottom: 0px; }
.panels-flexible-8-inside { padding-right: 0px; }
.panels-flexible-8 { width: auto; }
.panels-flexible-region-8-in_evidenza { float: left; width: 99%; }
.panels-flexible-row-8-7-inside { padding-right: 0px; }
.panels-flexible-region-8-slider_ { float: left; width: 61.4363%; }
.panels-flexible-region-8-tabs { float: left; width: 37.5637%; }
.panels-flexible-row-8-6-inside { padding-right: 0px; }
.panels-flexible-region-8-click1 { float: left; width: 24.8121%; }
.panels-flexible-region-8-click2 { float: left; width: 24.7523%; }
.panels-flexible-region-8-click4 { float: left; width: 24.7962%; }
.panels-flexible-region-8-click4_ { float: left; width: 24.6395%; }
.panels-flexible-row-8-4-inside { padding-right: 0px; }
.panels-flexible-region-8-slider { float: left; width: 24.8011%; }
.panels-flexible-region-8-center { float: left; width: 24.8035%; }
.panels-flexible-region-8-evidenza3 { float: left; width: 24.8061%; }
.panels-flexible-region-8-evidenza4 { float: left; width: 24.5892%; }
.panels-flexible-row-8-main-row-inside { padding-right: 0px; }
.panels-flexible-region-8-social_share { float: left; width: 99%; }
.panels-flexible-row-8-8-inside { padding-right: 0px; }

html, body, #page { height: 100%; background:#ffffff;}
#page-wrapper { min-height: 100%; min-width: 1280px; }
#header div.section, #featured div.section, #messages div.section, #main, #triptych{ 
	width: 1280px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 46px;
}
#footer-columns, #footer { 
	width: 1100px; 
	margin-left: auto; 
	margin-right: auto; 
	font-family: calibri;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
#footer-columns h2 {
	font-size: 1.3em;
	margin-bottom: 0;
	padding-bottom: 5px;
}
#sidebar-first, #sidebar-second, .region-triptych-first, .region-triptych-middle, .region-triptych-last, 
.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn,.region-footer-fifthcolumn { 
	display: inline; 
	float: left; 
	position: relative; 
}
.no-sidebars #content { 
	width: 1280px; float: none; 
}
#main-wrapper { 
	min-height: 300px; 
}
#content .section, .sidebar .section { 
	/*padding: 15px 20px; */
}
#footer-wrapper { 
	padding: 35px 5px 30px; 
}
.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn, .region-footer-fifthcolumn{ 
	padding: 0px 10px; 
	margin-left: 45px;
	line-height: 1.5;
}
.region-footer-firstcolumn {
	width: 106px;
	margin-right: 47px;
}
.region-footer-secondcolumn {
	width: 150px;
}
.region-footer-thirdcolumn {

}
.region-footer-fourthcolumn {
	width: 250px;
}
.region-footer-fifthcolumn {
	width: 100px;
}

body { line-height: 1.5; font-size: 87.5%; word-wrap: break-word; margin: 0px; padding: 0px; border: 0px none; outline: 0px none; }
a:link, a:visited { text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0px 0.5em; font-weight: inherit; }
h1 { font-size: 1.357em; color: rgb(0, 0, 0); }
h2 { font-size: 1.143em; }
p { margin: 0px 0px 1.2em; }
img { outline: 0px none; }
body, #site-slogan, .ui-widget, .comment-form label { font-family: Georgia,"Times New Roman",Times,serif; }
#header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.block ol, .block ul { margin: 0px; padding: 0px 0px 0.25em 1em; }
ul.menu li { 
	margin: 0px; 
}
.region-content ul, .region-content ol { margin: 1em 0px; padding: 0px 0px 0.25em 2.5em; }
.item-list ul li { margin: 0px; padding: 0.2em 0.5em 0px 0px; }
#skip-link { left: 50%; margin-left: -5.25em; margin-top: 0px; position: absolute; width: auto; z-index: 50; }
#skip-link a, #skip-link a:link, #skip-link a:visited { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); color: rgb(255, 255, 255); display: block; font-size: 0.94em; line-height: 1.7; padding: 1px 10px 2px; text-decoration: none; border-radius: 0px 0px 10px 10px; }
#skip-link a:hover, #skip-link a:active, #skip-link a:focus { outline: 0px none; }
#logo{float: right;margin-right: 42px;}
#name-and-slogan { float: left; padding-top: 34px; margin: 0px 0px 30px 15px; }
#site-name { font-size: 1.821em; color: rgb(104, 104, 104); line-height: 1; }
h1#site-name { margin: 0px; }
#site-name a { font-weight: normal; }
#site-slogan { font-size: 0.929em; margin-top: 7px; word-spacing: 0.1em; font-style: italic; }
#main-menu { clear: both;  position: relative; padding-top: 5px;}
#main-menu-links { font-size: 0.929em; margin: 0px; padding: 0px 15px; }
#main-menu-links li { float: left; list-style: none outside none; padding: 0px 1px; margin: 0px 1px; }
#main-menu-links a { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7); float: left; height: 2.4em; line-height: 2.4em; padding: 0px 0.8em; text-decoration: none; text-shadow: 0px 1px rgb(238, 238, 238); border-top-left-radius: 8px; border-top-right-radius: 8px; }
#main-menu-links a:hover, #main-menu-links a:focus { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95); }
#main-menu-links a:active { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#main-menu-links li a.active { border-bottom: medium none; }
#main { margin-top: 20px; margin-bottom: 40px; }
.content {/* margin-top: 10px;*/ }
#content h2 { margin-bottom: 2px; font-size: 1.429em; line-height: 1.4; }
ul.links { color: rgb(104, 105, 107); font-size: 0.821em; }
.tabs { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; }

body, body.overlay { color: rgb(0, 0, 0); }
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a { color: #000; }
a:hover, a:focus { color: rgb(149,55,53); }
a:active { color: rgb(149,55,53); }
#page-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.region-header, .region-header a, .region-header li a.active, #name-and-slogan, #name-and-slogan a, #secondary-menu-links li a { 
	color: rgb(0, 0, 0); 
}

body { font-family: Lato,arial,verdana,tahoma; }
#name-and-slogan { margin: 0px; }
#main-menu-links { margin: 0px; padding: 0px; padding-bottom: 10px;}
#main-menu-links li { background-image: url('../img/separa_menu.png'); background-position: right center; background-repeat: no-repeat; }
#main-menu-links li { background-image: url('../img/separa_menu.png'); background-position: right center; background-repeat: no-repeat; margin: 0px; padding-right: 2px; }
#main-menu-links li.last { background-image: none; }
#main-menu-links li a { color: rgb(149, 55, 53); font-size: 16px; font-weight: bold; border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 0px 7px; }
#main-menu-links li a:link, #main-menu-links li a:hover, #main-menu-links li a:visited { background-color: rgb(255, 255, 255); }
div.stile-slider { width: 440px; margin: 0px 50px; }
div.stile-slider img { float: left; margin: 10px; border-right: thick none rgb(255, 0, 0); }
div.stile-slider h2, div.stile-slider p { margin: 0px 10px; padding: 0px; font-size: 12px; }
div.stile-slider h2, div.stile-slider a { font-size: 16px; margin-top: 10px; font-weight: bold; line-height: 90% ! important; }
div.clearer { clear: left; }
#views_slideshow_controls_text_previous_slider-block { background: url('prevbtn_red.png') no-repeat scroll 0% 0% transparent; position: relative; width: 45px; height: 0px; padding-top: 55px; top: -60px; left: -50px; overflow: hidden; text-decoration: none; }
#views_slideshow_controls_text_previous_slider-block a:link, #views_slideshow_controls_text_previous_slider-block a:visited, #views_slideshow_controls_text_next_slider-block a:link, #views_slideshow_controls_text_next_slider-block a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#views_slideshow_controls_text_next_slider-block { background: url('nextbtn_red.png') no-repeat scroll 0% 0% transparent; position: relative; left: 375px; top: -60px; width: 45px; height: 45px; padding-top: 55px; overflow: hidden; text-decoration: none; }
#views_slideshow_controls_text_pause_slider-block { display: none; }
#views_slideshow_slide_counter_slider-block { text-align: center; font-weight: bold; }
.box-slider .pane-content { padding: 5px; }
#content .box-bordo-grigio ul { padding: 0px; }
.box-bordo-grigio { border: 1px solid rgb(221, 221, 221); border-radius: 10px; min-height: 200px; }
.box-bordo-grigio .pane-content { padding: 3px; }
.box-seconda-fila { border: 1px solid rgb(204, 204, 204); background-color: rgb(239, 243, 243); font-size: 14px; width: 220px; min-height: 220px; position: relative; margin-top: 30px; }
.box-seconda-fila h2 { margin: 0px; color: rgb(149,55,53); padding: 0px 5px; }
.box-seconda-fila .field { padding: 0px 5px; }
.box-seconda-fila img { margin-right: auto; margin-left: auto; }
#content .box-seconda-fila h2 { font-size: 18px; }
.box-seconda-fila .pane-content { padding: 0px 5px; }
#content .tabs { margin: 0px; }
#content .content { margin: 0px; font-size: 14px; }
#content .content .field { margin: 0px; }
#content .content p { margin: 0px; }
#content .content .field-items, #content .content ul { font-size: 14px; }
#footer-wrapper { background-color: #0B456A; color: #fff; padding: 0px; }
#footer-wrapper .content li a:hover { background-color: rgba(255, 255, 255, 0.05); text-decoration: none; }
#footer-wrapper .content li a { color: #fff }
#footer-columns .content ul { list-style: none outside none; padding-left: 0px; margin-left: 0px; }
#footer-columns .content li { list-style: none outside none; margin: 0px; padding: 0px; }
#footer-columns .content li a { display: block; font-size: 12px; padding: 0px; text-indent: 0px; line-height: 20px; }
.block ul { margin: 0px; padding: 5px 0px 0.25em 1em; }
.block ol, .block ul { margin: 0px; padding: 5px 0px 0.25em 1em; }
.quicktabs-style-datagovit div.view-content { padding: 0px 20px; line-height: 14px; margin: 15px 0px; }
.quicktabs-style-datagovit div.view-content div { margin-bottom: 4px; }
.quicktabs-style-datagovit div.view-footer a { color: rgb(149,55,53); font-size: 11px; font-weight: bold; }
.quicktabs_main.quicktabs-style-datagovit { clear: both; }
.quicktabs_main.quicktabs-style-datagovit a { color: rgb(0, 0, 0); font-size: 12px; }
ul.quicktabs-tabs.quicktabs-style-datagovit { text-transform: lowercase; font-size: 14px; font-weight: bold; padding: 0px; margin: 0px; }
ul.quicktabs-tabs.quicktabs-style-datagovit a {  }
ul.quicktabs-tabs.quicktabs-style-datagovit li.active a, ul.quicktabs-tabs.quicktabs-style-datagovit li a:hover { color: rgb(149,55,53); }
.condividi-su .social-share { float: right; padding-top: 15px; }
.field-name-link-dataset-immagine img { display: block; margin-left: auto; margin-right: auto; }
#id-mappe { background: url('mappa_0.png') no-repeat scroll 0px 0px transparent; }


/* :::: OVERRIDE CKAN DEFAULT STYLES ::::*/
[role="main"], .main {
  background:#F5F5F5;
  padding-top: 0;
}

.wrapper {
 /* border: none;*/
  box-shadow: none;
border-radius: 0px;
}

.modal {
  margin-left: -455px;
  width: 960px;
}
.dataset-map-expanded #dataset-map {
  width: 951px ! important;
  /*padding-bottom: 10px !important;*/
}
.dataset-map-expanded .wrapper {
	margin-top: 396px;
}
.dataset-map-expanded #dataset-map {
	height: 396px !important;
	top: -396px !important;
}
#map-refresh {
	margin-top: 7px;
	color: #000 !important;
	text-decoration: none !important;
}
.region-header {
	float: right;
	margin: 13px 7px 10px;
	width: 954px;
}
.region-header .block {
	font-size: 0.857em;
	float: left;
	margin: 0 5px;
	padding: 0;
}
.region-header .block .content {
	margin: 0;
	padding: 0;
}
.region-header .block ul {
	margin: 0;
	padding: 0;
}
.region-header .block li {
	list-style: none;
	list-style-image: none;
	padding: 0;
	float: left;
	padding-left: 15px;
	color: #ffffff;
}
.region-header .block ul li a {
	margin-right: 5px;
	width: 70px;
	height: 100px;
	padding-top: 20px;
	/*line-height: 40px;*/
}
ul.menu {
	border: none;
	list-style: none;
	text-align: left;
}
ul.link-social {
	margin-top: 6px !important;
	margin-left: 15px !important;
}
ul.link-social li {
	padding-left: 0 !important;
}
ul.link-social img{
	/*margin-top: -16px;*/
}
li.views-row-last {
	border-bottom: 0!important;
}
.views-field-body {
	font-size: 1.271em;
}
#block-menu-block-5 {
	margin-left: 32px;
	margin-top: 0px;
	width: 385px;
}
#block-menu-block-5 li {
	padding-top: 10px;
	font-size: 15px!important;
	font-family: Calibri;
}
#block-menu-block-8 {
	height: 10px;
	margin-top: 13px;
}
#block-menu-block-8 li {
	border-right: 1px inset #000000;
	margin-left: -7px;
	font-size: 15px!important;
	font-family: Calibri;
	line-height: 15px;
}
#block-menu-block-8 li.last{
	border-right: none;
}
.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;
}
.region-header .block .menu-mlid-518 {
	width: 60px;
	background: url("/catalog/img/acqua.jpg") no-repeat;
	background-position: 0px 32px;
	height: 40px;
}
.region-header .block .menu-mlid-518 a {
	margin-left: 3px;
}
.region-header .block .menu-mlid-518 a:hover {
	background:url("/catalog/img/triang_acqua.png") no-repeat;
	background-position:center top;
	text-decoration:none;
}
.region-header .block .menu-mlid-519 {
	width: 60px;
	background: url("/catalog/img/aria.jpg") no-repeat;
	background-position: 0px 32px;
	height: 40px;
}
.region-header .block .menu-mlid-519 a {
	margin-left: 7px;
}
.region-header .block .menu-mlid-519 a:hover {
	background:url("/catalog/img/triang_aria.png") no-repeat;
	background-position:center top;
	text-decoration:none;
}
.region-header .block .menu-mlid-520 {
	width: 60px;
	background: url("/catalog/img/energia.jpg") no-repeat;
	background-position: 0px 32px;
	height: 40px;
}
.region-header .block .menu-mlid-520 a {
}
.region-header .block .menu-mlid-520 a:hover {
	background:url("/catalog/img/triang_energia.png") no-repeat;
	background-position:center top;
	text-decoration:none;
}
.region-header .block .menu-mlid-521 {
	width: 60px;
	background: url("/catalog/img/natura.jpg") no-repeat;
	background-position: 0px 32px;
	height: 40px;
}
.region-header .block .menu-mlid-521 a {
}
.region-header .block .menu-mlid-521 a:hover {
	background:url("/catalog/img/triang_natura.png") no-repeat;
	background-position:center top;
	text-decoration:none;
}
.region-header .block .menu-mlid-522 {
	width: 70px;
	background: url("/catalog/img/territorio.jpg") no-repeat;
	background-position: 0px 32px;
	height: 40px;
}
.region-header .block .menu-mlid-522 a {
	margin-left: -8px;
}
.region-header .block .menu-mlid-522 a:hover {
	background:url("/catalog/img/triang_territorio.png") no-repeat;
	background-position:center top;
	text-decoration:none;
}
#header { 
	width: 1280px; 
	margin-left: auto;
	margin-right:  auto; 
	height: 137px
}
#header-bar{
	background: url("/catalog/img/barra_head.jpg") repeat-x top center;
	height: 169px;
	margin-top: 46px;
}
#header-wrapper{
	height: 100%;
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
#head-aree {
	background: url("/catalog/img/head.jpg") no-repeat scroll 0 0 transparent;
	padding-bottom: 12px;
	height: 157px;
	margin-left: 285px;
	margin-top: 0px;
	position: absolute;
	width: 954px;
	z-index: 2;
}
#block-menu-menu-argomenti{
	margin-top: 28px;
}

#block-menu-block-7 li, #block-menu-menu-argomenti li{
	margin-left: 20px;
	text-indent: -10px;
	padding-right: 21px;
}
#block-menu-menu-argomenti h2{
	margin-left: 20px; 
}
#block-menu-menu-argomenti .linea {
	background: #104769;
	display: inline;
	float: right;
	height: 16px;
	position: absolute;
	width: 47%;
	margin-top: 2.1px;
	margin-left: 130px;
}
#block-menu-block-7 li.active{
	font-weight: bold;
}
#block-menu-block-7 .linea {
	background: none repeat scroll 0 0 #104769;
	display: inline;
	float: right;
	height: 5px;
	margin-top: 28px;
	position: absolute;
	width: 88%;
	margin-left: 20px;
}
.sidebar{
	font-family: Calibri;
	font-size: 15px;
}
.sidebar h2 {
	font-size: 17px !important;
	font-weight: bold;
	font-family: sans-serif;
	line-height: 1.2 !important;
	margin: 0 0 0.5em;
	padding-bottom: 5px;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #3b3b3b !important;
}
#sidebar-first{
	margin-top: -25px;
}
.sidebar li{
	padding: 0.2em 0.5em 0 0;
	margin: 0;
	line-height: 1.4;
}
.menu-mlid-389{
	margin-top: 10px!important;
}
#block-menu-menu-argomenti li.first{
	margin-top: 3px;
}
.nav-item.active>a:before, .nav-aside li.active a:before {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	left: -6px !important;
}
