<div id="sidebar-first" class="column sidebar" style="width:260px">
	<div class="section">
		<div class="region region-sidebar-first">
			<div id="block-menu-block-7" class="block block-menu-block">

				<div class="linea"></div>
				<div class="content">
					<div
						class="menu-block-wrapper menu-block-7 menu-name-menu-ministero parent-mlid-0 menu-level-1">
						<ul class="menu clearfix">
							<li class="first leaf menu-mlid-388"><a href="/">Home</a></li>
							<li class="collapsed menu-mlid-389"><a
								href="/pagina/il-ministro" accesskey="A">Il Ministro</a></li>
							<li class="collapsed menu-mlid-392"><a
								href="/pagina/i-sottosegretari" accesskey="B">l
									Sottosegretari</a></li>
							<li class="collapsed menu-mlid-393"><a
								href="/pagina/uffici-diretta-collaborazione" accesskey="U">Uffici
									diretta collaborazione</a></li>
							<li class="leaf menu-mlid-476"><a
								href="/pagina/segretario-generale" accesskey="S">Segretario
									generale</a></li>
							<li class="leaf menu-mlid-1883"><a
								href="http://www.minambiente.it/pagina/organismo-indipendente-di-valutazione">OIV</a></li>
							<li class="collapsed menu-mlid-477"><a
								href="/pagina/segretariato-generale" accesskey="E">Segretariato
									generale</a></li>
							<li class="collapsed menu-mlid-479"><a
								href="/pagina/direzioni-generali" accesskey="D">Direzioni
									generali</a></li>
							<li class="leaf menu-mlid-481"><a
								href="/pagina/comitati-e-commissioni" accesskey="F">Comitati
									e Commissioni</a></li>
							<li class="leaf menu-mlid-482"><a
								href="http://www.minambiente.it/pagina/enti-pubblici-vigilati"
								accesskey="G">Enti ed Organismi Vigilati</a></li>
							<li class="last expanded active-trail active menu-mlid-484"><a
								href="/pagina/amministrazione-trasparente" accesskey="I"
								class="active-trail active">Amministrazione Trasparente</a>
							<ul class="menu clearfix">
									<li class="first leaf has-children menu-mlid-642"><a
										href="/pagina/disposizioni-generali">Disposizioni Generali</a></li>
									<li class="leaf has-children menu-mlid-646"><a
										href="/pagina/organizzazione">Organizzazione</a></li>
									<li class="leaf has-children menu-mlid-657"><a
										href="/pagina/consulenti-e-collaboratori">Consulenti e
											collaboratori</a></li>
									<li class="leaf has-children menu-mlid-658"><a
										href="/pagina/personale">Personale</a></li>
									<li class="leaf menu-mlid-669"><a
										href="/pagina/bandi-di-concorso">Bandi di concorso</a></li>
									<li class="leaf has-children menu-mlid-670"><a
										href="/pagina/performance">Performance</a></li>
									<li class="leaf has-children menu-mlid-676"><a
										href="/pagina/enti-controllati">Enti controllati</a></li>
									<li class="leaf has-children menu-mlid-681"><a
										href="/pagina/attivita-e-procedimenti">Attività e
											procedimenti</a></li>
									<li class="leaf has-children menu-mlid-686"><a
										href="/pagina/provvedimenti">Provvedimenti</a></li>
									<li class="leaf menu-mlid-689"><a
										href="/pagina/controlli-sulle-imprese">Controlli sulle
											imprese</a></li>
									<li class="leaf has-children menu-mlid-690"><a
										href="/pagina/bandi-di-gara-e-contratti">Bandi di gara e
											contratti</a></li>
									<li class="leaf has-children menu-mlid-701"><a
										href="/pagina/sovvenzioni-contributi-sussidi-vantaggi-economici">Sovvenzioni,
											contributi, sussidi, vantaggi economici</a></li>
									<li class="leaf has-children menu-mlid-704"><a
										href="/pagina/bilanci">Bilanci</a></li>
									<li class="leaf has-children menu-mlid-706"><a
										href="/pagina/beni-immobili-e-gestione-patrimonio">Beni
											immobili e gestione patrimonio</a></li>
									<li class="leaf menu-mlid-709"><a
										href="/pagina/controlli-e-rilievi-sullamministrazione">Controlli
											e rilievi sull'amministrazione</a></li>
									<li class="leaf has-children menu-mlid-710"><a
										href="/pagina/servizi-erogati">Servizi erogati</a></li>
									<li class="leaf has-children menu-mlid-715"><a
										href="/pagina/pagamenti-dell-amministrazione">Pagamenti
											dell' amministrazione</a></li>
									<li class="leaf menu-mlid-718"><a
										href="/pagina/opere-pubbliche">Opere pubbliche</a></li>
									<li class="leaf menu-mlid-719"><a
										href="/pagina/pianificazione-e-governo-del-territorio">Pianificazione
											e governo del territorio</a></li>
									<li class="leaf has-children menu-mlid-720"><a
										href="/pagina/informazioni-ambientali">Informazioni
											ambientali</a></li>
									<li class="leaf has-children menu-mlid-721"><a
										href="/pagina/interventi-straordinari-di-emergenza">Interventi
											straordinari di emergenza</a></li>
									<li class="leaf menu-mlid-2032"><a
										href="/pagina/altri-contenuti-corruzione">Altri contenuti
											- Corruzione</a></li>
									<li class="leaf menu-mlid-2031"><a
										href="/pagina/altri-contenuti-accesso-civico">Altri
											contenuti - Accesso civico</a></li>
									<li class="leaf menu-mlid-2033"><a
										href="/pagina/altri-contenuti-accessibilita-e-catalogo-di-dati-metadati-e-banche-dati">Altri
											contenuti - Accessibilità e Catalogo di dati, metadati e
											banche dati</a></li>
									<li class="leaf menu-mlid-2091"><a
										href="http://www.minambiente.it/pagina/altri-contenuti-codice-di-comportamento">Altri
											contenuti - Codice di comportamento</a></li>
									<li class="last leaf menu-mlid-2030"><a
										href="/pagina/altri-contenuti-dati-ulteriori">Altri
											contenuti - Dati ulteriori</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="block-menu-menu-argomenti" class="block block-menu">

				<div class="linea"></div>
				<h2>ARGOMENTI</h2>

				<div class="content">
					<ul class="menu clearfix">
						<li class="first leaf"><a
							href="http://www.minambiente.it/pagina/comitato-il-verde-pubblico">Comitato
								per il Verde Pubblico</a></li>
						<li class="collapsed"><a
							href="/pagina/educazione-ambientale-e-allo-sviluppo-sostenibile">Educazione
								Ambientale e allo Sviluppo Sostenibile</a></li>
						<li class="leaf"><a
							href="http://www.minambiente.it/comunicati/ilva-lo-schema-di-piano-ambientale-proposto-dal-comitato-di-tre-esperti-consultazione"
							title="">Piano ambientale Ilva</a></li>
						<li class="leaf"><a href="http://www.sistri.it/" title="">Sistri</a></li>
						<li class="leaf"><a href="/pagina/vas-e">VAS e VIA</a></li>
						<li class="leaf"><a href="/pagina/aia">AIA</a></li>
						<li class="collapsed"><a href="/pagina/reach">REACH</a></li>
						<li class="collapsed"><a href="/pagina/programmi-comunitari">Programmi
								comunitari</a></li>
						<li class="collapsed"><a href="/pagina/life-2014-2020"
							title="LIFE (2014-2020)">LIFE (2014-2020)</a></li>
						<li class="collapsed"><a href="/pagina/cip-eco-innovation">Cip
								Eco Innovation</a></li>
						<li class="collapsed"><a href="/pagina/sviluppo-sostenibile">Sviluppo
								sostenibile</a></li>
						<li class="collapsed"><a href="/pagina/clima">Clima</a></li>
						<li class="collapsed"><a
							href="/pagina/statistiche-ambientali">Statistiche Ambientali</a></li>
						<li class="collapsed"><a
							href="http://www.minambiente.it/pagina/convenzione-delle-alpi">Convenzione
								delle Alpi</a></li>
						<li class="collapsed"><a href="/pagina/gpp-acquisti-verdi">GPP
								- Acquisti Verdi</a></li>
						<li class="collapsed"><a
							href="/pagina/certificazione-ambientale-ecolabel-emas"
							title="Certificazione ambientale, Ecolabel, Emas">Certificazione
								ambientale, Ecolabel, Emas</a></li>
						<li class="collapsed"><a
							href="/pagina/associazioni-di-protezione-ambientale-legge-8-luglio-1986-n-349">Associazioni
								di Protezione Ambientale (legge 8 luglio 1986, n. 349)</a></li>
						<li class="collapsed"><a
							href="/pagina/formazione-universitaria">Formazione
								Universitaria</a></li>
						<li class="collapsed"><a
							href="/pagina/piano-dazione-europeo-lecoinnovazione-ecoap">Piano
								d’azione europeo per l’ecoinnovazione (ECOAP)</a></li>
						<li class="collapsed"><a
							href="/pagina/valutazione-del-rischio-ambientale-vra">Valutazione
								del Rischio Ambientale (VRA)</a></li>
						<li class="collapsed"><a href="/pagina/mare">Mare</a></li>
						<li class="collapsed"><a
							href="/pagina/inquinamento-atmosferico">Inquinamento
								atmosferico</a></li>
						<li class="collapsed"><a
							href="/pagina/biocarburanti-e-bioliquidi">Biocarburanti e
								bioliquidi</a></li>
						<li class="collapsed"><a
							href="/pagina/aree-naturali-protette">Aree naturali protette</a></li>
						<li class="collapsed"><a href="/pagina/biodiversita">Biodiversità</a></li>
						<li class="collapsed"><a href="/pagina/rete-natura-2000">Rete
								Natura 2000</a></li>
						<li class="collapsed"><a href="/pagina/energia">Energia</a></li>
						<li class="collapsed"><a href="/pagina/rifiuti">Rifiuti</a></li>
						<li class="collapsed"><a href="/pagina/rischio-industriale">Rischio
								industriale</a></li>
						<li class="last collapsed"><a
							href="/pagina/inquinamento-da-mercurio">Inquinamento da
								mercurio</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
