<div id="sidebar-first" class="column sidebar">
	<div class="section">
		<div class="region region-sidebar-first">
			<div id="block-menu-block-7" class="block block-menu-block">

				<div class="linea"></div>
				<div class="content">
					<div
						class="menu-block-wrapper menu-block-7 menu-name-menu-ministero parent-mlid-0 menu-level-1">
						<ul class="menu clearfix">
<li class="first leaf menu-mlid-388"><a href="/">Home</a></li>
<li class="collapsed menu-mlid-389"><a href="/pagina/il-ministro">Il Ministro</a></li>
<li class="collapsed menu-mlid-392"><a href="/pagina/i-sottosegretari">I Sottosegretari</a></li>
<li class="collapsed menu-mlid-393"><a href="/pagina/uffici-diretta-collaborazione">Uffici diretta collaborazione</a></li>
<li class="leaf menu-mlid-476"><a href="/pagina/segretario-generale">Segretario generale</a></li>
<li class="leaf menu-mlid-1883"><a href="http://www.minambiente.it/pagina/organismo-indipendente-di-valutazione">OIV</a></li>
<li class="collapsed menu-mlid-477"><a href="/pagina/segretariato-generale">Segretariato generale</a></li>
<li class="collapsed menu-mlid-479"><a href="/pagina/direzioni-generali">Direzioni generali</a></li>
<li class="leaf menu-mlid-481"><a href="/pagina/comitati-e-commissioni">Comitati e Commissioni</a></li>
<li class="leaf menu-mlid-482"><a href="http://www.minambiente.it/pagina/enti-pubblici-vigilati">Enti ed Organismi Vigilati</a></li>
<li class="leaf menu-mlid-484"><a href="http://www.minambiente.it/pagina/amministrazione-trasparente">Amministrazione Trasparente</a>
<li class="collapsed menu-mlid-484"><a href="/catalog/dataset/consulenti-e-collaboratori">Consulenti e collaboratori</a>
<li class="leaf "><a href="/catalog/dataset">Open Data</a>

							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="block-menu-menu-argomenti" class="block block-menu">

				<div class="linea"></div>
				<h2>ARGOMENTI</h2>

				<div class="content">
					<ul class="menu clearfix">
						<li class="first leaf"><a href="/pagina/comitato-il-verde-pubblico">Comitato
								per il Verde Pubblico</a></li>
						<li class="collapsed"><a href="/pagina/educazione-ambientale-e-allo-sviluppo-sostenibile">Educazione Ambientale e allo Sviluppo Sostenibile</a></li>
						<li class="leaf"><a href="/comunicati/ilva-lo-schema-di-piano-ambientale-proposto-dal-comitato-di-tre-esperti-consultazione" title="">Piano ambientale Ilva</a></li>
						<li class="leaf"><a href="http://www.sistri.it/" title="">Sistri</a></li>
						<li class="leaf"><a href="/pagina/vas-e">VAS e VIA</a></li>
						<li class="leaf"><a href="/pagina/aia">AIA</a></li>
						<li class="collapsed"><a href="/pagina/reach">REACH</a></li>
						<li class="collapsed"><a href="/pagina/programmi-comunitari">Programmi comunitari</a></li>
						<li class="collapsed"><a href="/pagina/life-2014-2020" title="LIFE (2014-2020)">LIFE (2014-2020)</a></li>
						<li class="collapsed"><a href="/pagina/cip-eco-innovation">Cip Eco Innovation</a></li>
						<li class="collapsed"><a href="/pagina/sviluppo-sostenibile">Sviluppo sostenibile</a></li>
						<li class="collapsed"><a href="/pagina/clima">Clima</a></li>
						<li class="collapsed"><a href="/pagina/statistiche-ambientali">Statistiche Ambientali</a></li>
						<li class="collapsed"><a href="/pagina/convenzione-delle-alpi">Convenzione delle Alpi</a></li>
						<li class="collapsed"><a href="/pagina/gpp-acquisti-verdi">GPP - Acquisti Verdi</a></li>
						<li class="collapsed"><a href="/pagina/certificazione-ambientale-ecolabel-emas" title="Certificazione ambientale, Ecolabel, Emas">Certificazione ambientale, Ecolabel, Emas</a></li>
						<li class="collapsed"><a href="/pagina/associazioni-di-protezione-ambientale-legge-8-luglio-1986-n-349">Associazioni di Protezione Ambientale (legge 8 luglio 1986, n. 349)</a></li>
						<li class="collapsed"><a href="/pagina/formazione-universitaria">Formazione Universitaria</a></li>
						<li class="collapsed"><a href="/pagina/piano-dazione-europeo-lecoinnovazione-ecoap">Piano d’azione europeo per l’ecoinnovazione (ECOAP)</a></li>
						<li class="collapsed"><a href="/pagina/valutazione-del-rischio-ambientale-vra">Valutazione del Rischio Ambientale (VRA)</a></li> 
						<li class="collapsed"><a href="/pagina/mare">Mare</a></li>
						<li class="collapsed"><a href="/pagina/inquinamento-atmosferico">Inquinamento atmosferico</a></li>
						<li class="collapsed"><a href="/pagina/biocarburanti-e-bioliquidi">Biocarburanti e bioliquidi</a></li>
						<li class="collapsed"><a href="/pagina/aree-naturali-protette">Aree naturali protette</a></li>
						<li class="collapsed"><a href="/pagina/biodiversita">Biodiversità</a></li>
						<li class="collapsed"><a href="/pagina/rete-natura-2000">Rete Natura 2000</a></li>
						<li class="collapsed"><a href="/pagina/energia">Energia</a></li>
						<li class="collapsed"><a href="/pagina/rifiuti">Rifiuti</a></li>
						<li class="collapsed"><a href="/pagina/rischio-industriale">Rischio industriale</a></li>
						<li class="last collapsed"><a href="/pagina/inquinamento-da-mercurio">Inquinamento da mercurio</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
