
<div id="sidebar-first" class="column sidebar">
	<div class="section">
		<div class="region region-sidebar-first">
			<div id="block-menu-block-7" class="block block-menu-block">

				<div class="linea"></div>
				<div class="content">
					<div
						class="menu-block-wrapper menu-block-7 menu-name-menu-ministero parent-mlid-0 menu-level-1">
						<ul class="menu clearfix">
							                            <li class="menu-mlid-388 first">
							<a href="http://www.minambiente.it/">Home</a>
						 </li>
                                                        <li class="menu-mlid-389 collapsed">
							<a href="http://www.minambiente.it/pagina/il-ministro">Il Ministro</a>
						 </li>
                                                        <li class="menu-mlid-392 collapsed">
							<a href="http://www.minambiente.it/pagina/i-sottosegretari">l Sottosegretari</a>
						 </li>
                                                        <li class="menu-mlid-393 collapsed">
							<a href="http://www.minambiente.it/pagina/uffici-diretta-collaborazione">Uffici diretta collaborazione</a>
						 </li>
                                                        <li class="menu-mlid-476 leaf">
							<a href="http://www.minambiente.it/pagina/segretario-generale">Segretario generale</a>
						 </li>
                                                        <li class="menu-mlid-1883 leaf">
							<a href="http://www.minambiente.it/pagina/organismo-indipendente-di-valutazione">OIV</a>
						 </li>
                                                        <li class="menu-mlid-477 collapsed">
							<a href="http://www.minambiente.it/pagina/segretariato-generale">Segretariato generale</a>
						 </li>
                                                        <li class="menu-mlid-479 collapsed">
							<a href="http://www.minambiente.it/pagina/direzioni-generali">Direzioni generali</a>
						 </li>
                                                        <li class="menu-mlid-2132 leaf">
							<a href="http://www.minambiente.it/pagina/comando-carabinieri-la-tutela-dellambiente">Comando Carabinieri tutela Ambiente</a>
						 </li>
                                                        <li class="menu-mlid-2133 leaf">
							<a href="http://www.minambiente.it/pagina/reparto-ambientale-marino-del-corpo-della-capitanerie-di-porto">Reparto Ambientale Marino</a>
						 </li>
                                                        <li class="menu-mlid-481 leaf">
							<a href="http://www.minambiente.it/pagina/comitati-e-commissioni">Comitati e Commissioni</a>
						 </li>
                                                        <li class="menu-mlid-482 leaf">
							<a href="http://www.minambiente.it/pagina/enti-pubblici-vigilati">Enti ed Organismi Vigilati</a>
						 </li>
                                                        <li class="menu-mlid-484 last">
							<a href="http://www.minambiente.it/pagina/amministrazione-trasparente">Amministrazione Trasparente</a>
						 </li>
                            						</ul>
					</div>
				</div>
			</div>
			<div id="block-menu-menu-argomenti" class="block block-menu">

				<div class="linea"></div>
				<h2>ARGOMENTI</h2>

				<div class="content">
					<ul class="menu clearfix">
						                            <li class="menu-mlid-1868 first"><a href="http://www.minambiente.it/pagina/comitato-il-verde-pubblico">Comitato per il Verde Pubblico</a></li>
                                                        <li class="menu-mlid-487 collapsed"><a href="http://www.minambiente.it/pagina/educazione-ambientale-e-allo-sviluppo-sostenibile">Educazione Ambientale e allo Sviluppo Sostenibile</a></li>
                                                        <li class="menu-mlid-1853 leaf"><a href="http://www.minambiente.it/comunicati/ilva-lo-schema-di-piano-ambientale-proposto-dal-comitato-di-tre-esperti-consultazione">Piano ambientale Ilva</a></li>
                                                        <li class="menu-mlid-1852 leaf"><a href="http://www.minambiente.it/http://www.sistri.it/">Sistri</a></li>
                                                        <li class="menu-mlid-488 leaf"><a href="http://www.minambiente.it/pagina/vas-e">VAS e VIA</a></li>
                                                        <li class="menu-mlid-489 leaf"><a href="http://www.minambiente.it/pagina/aia">AIA</a></li>
                                                        <li class="menu-mlid-490 collapsed"><a href="http://www.minambiente.it/pagina/reach">REACH</a></li>
                                                        <li class="menu-mlid-491 collapsed"><a href="http://www.minambiente.it/pagina/programmi-comunitari">Programmi comunitari</a></li>
                                                        <li class="menu-mlid-492 collapsed"><a href="http://www.minambiente.it/pagina/life-2014-2020">LIFE (2014-2020)</a></li>
                                                        <li class="menu-mlid-493 collapsed"><a href="http://www.minambiente.it/pagina/cip-eco-innovation">Cip Eco Innovation</a></li>
                                                        <li class="menu-mlid-494 collapsed"><a href="http://www.minambiente.it/pagina/sviluppo-sostenibile">Sviluppo sostenibile</a></li>
                                                        <li class="menu-mlid-495 collapsed"><a href="http://www.minambiente.it/pagina/clima">Clima</a></li>
                                                        <li class="menu-mlid-496 collapsed"><a href="http://www.minambiente.it/pagina/statistiche-ambientali">Statistiche Ambientali</a></li>
                                                        <li class="menu-mlid-497 collapsed"><a href="http://www.minambiente.it/pagina/convenzione-delle-alpi">Convenzione delle Alpi</a></li>
                                                        <li class="menu-mlid-498 collapsed"><a href="http://www.minambiente.it/pagina/gpp-acquisti-verdi">GPP - Acquisti Verdi</a></li>
                                                        <li class="menu-mlid-2020 collapsed"><a href="http://www.minambiente.it/pagina/certificazione-ambientale-ecolabel-emas">Certificazione ambientale, Ecolabel, Emas</a></li>
                                                        <li class="menu-mlid-499 collapsed"><a href="http://www.minambiente.it/pagina/associazioni-di-protezione-ambientale-legge-8-luglio-1986-n-349">Associazioni di Protezione Ambientale (legge 8 luglio 1986, n. 349)</a></li>
                                                        <li class="menu-mlid-789 collapsed"><a href="http://www.minambiente.it/pagina/formazione-universitaria">Formazione Universitaria</a></li>
                                                        <li class="menu-mlid-912 collapsed"><a href="http://www.minambiente.it/pagina/piano-dazione-europeo-lecoinnovazione-ecoap">Piano d’azione europeo per l’ecoinnovazione (ECOAP)</a></li>
                                                        <li class="menu-mlid-941 collapsed"><a href="http://www.minambiente.it/pagina/valutazione-del-rischio-ambientale-vra">Valutazione del Rischio Ambientale (VRA)</a></li>
                                                        <li class="menu-mlid-1006 collapsed"><a href="http://www.minambiente.it/pagina/mare">Mare</a></li>
                                                        <li class="menu-mlid-1020 collapsed"><a href="http://www.minambiente.it/pagina/inquinamento-atmosferico">Inquinamento atmosferico</a></li>
                                                        <li class="menu-mlid-1066 collapsed"><a href="http://www.minambiente.it/pagina/biocarburanti-e-bioliquidi">Biocarburanti e bioliquidi</a></li>
                                                        <li class="menu-mlid-1074 collapsed"><a href="http://www.minambiente.it/pagina/aree-naturali-protette">Aree naturali protette</a></li>
                                                        <li class="menu-mlid-1110 collapsed"><a href="http://www.minambiente.it/pagina/biodiversita">Biodiversità</a></li>
                                                        <li class="menu-mlid-1120 collapsed"><a href="http://www.minambiente.it/pagina/rete-natura-2000">Rete Natura 2000</a></li>
                                                        <li class="menu-mlid-1131 collapsed"><a href="http://www.minambiente.it/pagina/energia">Energia</a></li>
                                                        <li class="menu-mlid-1144 collapsed"><a href="http://www.minambiente.it/pagina/rifiuti">Rifiuti</a></li>
                                                        <li class="menu-mlid-2121 collapsed"><a href="http://www.minambiente.it/pagina/rifiuti-radioattivi-e-combustibile-nucleare-esaurito">Rifiuti radioattivi e combustibile nucleare esaurito</a></li>
                                                        <li class="menu-mlid-1150 collapsed"><a href="http://www.minambiente.it/pagina/rischio-industriale">Rischio industriale</a></li>
                                                        <li class="menu-mlid-1157 collapsed"><a href="http://www.minambiente.it/pagina/inquinamento-da-mercurio">Inquinamento da mercurio</a></li>
                                                        <li class="menu-mlid-2166 last"><a href="http://www.minambiente.it/http://www.minambiente.it/pagina/piano-dazione-nazionale-luso-sostenibile-dei-prodotti-fitosanitari">PAN  Prodotti Fitosanitari</a></li>
                            					</ul>
				</div>
			</div>

		</div>
	</div>
</div>



