<div id="footer-wrapper"><div class="section">

          <div id="footer-columns" class="clearfix">
          <div class="region region-footer-firstcolumn">
    <div id="block-menu-block-3" class="block block-menu-block">

    <h2>Ricerca</h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-3 menu-name-menu-ricercas parent-mlid-0 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-525"><a href="/archivio-notizie" accesskey="Q">Notizie</a></li>
<li class="leaf menu-mlid-526"><a href="/archivio-comunicati-stampa" accesskey="T">Comunicati Stampa</a></li>
<li class="leaf menu-mlid-527"><a href="/archivio-biblioteca" accesskey="V">Biblioteca</a></li>
<li class="leaf menu-mlid-528"><a href="/archivio-normative" accesskey="W">Normativa</a></li>
<li class="leaf menu-mlid-529"><a href="/archivio-bandi" accesskey="X">Bandi e Avvisi</a></li>
<li class="leaf menu-mlid-1244"><a href="/archivio-attivita" accesskey="Y">Attività e Progetti</a></li>
<li class="last leaf menu-mlid-1268"><a href="/archivio-concorsi" accesskey="Z">Concorsi</a></li>
</ul></div>
  </div>
</div>
  </div>
          <div class="region region-footer-secondcolumn">
    <div id="block-menu-block-1" class="block block-menu-block">

    <h2>Ministero</h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-1 menu-name-menu-ministero parent-mlid-0 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-388"><a href="/">Home</a></li>
<li class="leaf has-children menu-mlid-389"><a href="/pagina/il-ministro" accesskey="A">Il Ministro</a></li>
<li class="leaf has-children menu-mlid-392"><a href="/pagina/i-sottosegretari" accesskey="B">l Sottosegretari</a></li>
<li class="leaf has-children menu-mlid-393"><a href="/pagina/uffici-diretta-collaborazione" accesskey="U">Uffici diretta collaborazione</a></li>
<li class="leaf menu-mlid-476"><a href="/pagina/segretario-generale" accesskey="S">Segretario generale</a></li>
<li class="leaf menu-mlid-1883"><a href="http://www.minambiente.it/pagina/organismo-indipendente-di-valutazione">OIV</a></li>
<li class="leaf has-children menu-mlid-477"><a href="/pagina/segretariato-generale" accesskey="E">Segretariato generale</a></li>
<li class="leaf has-children menu-mlid-479"><a href="/pagina/direzioni-generali" accesskey="D">Direzioni generali</a></li>
<li class="leaf menu-mlid-481"><a href="/pagina/comitati-e-commissioni" accesskey="F">Comitati e Commissioni</a></li>
<li class="leaf menu-mlid-482"><a href="http://www.minambiente.it/pagina/enti-pubblici-vigilati" accesskey="G">Enti ed Organismi Vigilati</a></li>
<li class="last leaf has-children active-trail active menu-mlid-484"><a href="/pagina/amministrazione-trasparente" accesskey="I" class="active-trail active-trail active">Amministrazione Trasparente</a></li>
</ul></div>
  </div>
</div>
  </div>
          <div class="region region-footer-thirdcolumn">
    <div id="block-menu-block-4" class="block block-menu-block">

    <h2>Informazioni</h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-4 menu-name-menu-informazioni parent-mlid-0 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-1938"><a href="http://www.minambiente.it/comunicati/audizione-del-ministro-gian-luca-galletti-su-linee-programmatiche">Linee Programmatiche</a></li>
<li class="leaf menu-mlid-535"><a href="/archivio-biblioteca">Biblioteca</a></li>
<li class="leaf menu-mlid-536"><a href="/archivio-normative">Normativa</a></li>
<li class="last leaf has-children menu-mlid-1102"><a href="/pagina/accordi-internazionali" accesskey="O">Accordi internazionali</a></li>
</ul></div>
  </div>
</div>
  </div>
          <div class="region region-footer-fourthcolumn">
    <div id="block-menu-block-2" class="block block-menu-block">

    <h2>Argomenti</h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-2 menu-name-menu-argomenti parent-mlid-0 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf menu-mlid-1868"><a href="http://www.minambiente.it/pagina/comitato-il-verde-pubblico">Comitato per il Verde Pubblico</a></li>
<li class="leaf has-children menu-mlid-487"><a href="/pagina/educazione-ambientale-e-allo-sviluppo-sostenibile">Educazione Ambientale e allo Sviluppo Sostenibile</a></li>
<li class="leaf menu-mlid-1853"><a href="http://www.minambiente.it/comunicati/ilva-lo-schema-di-piano-ambientale-proposto-dal-comitato-di-tre-esperti-consultazione" title="">Piano ambientale Ilva</a></li>
<li class="leaf menu-mlid-1852"><a href="http://www.sistri.it/" title="">Sistri</a></li>
<li class="leaf menu-mlid-488"><a href="/pagina/vas-e">VAS e VIA</a></li>
<li class="leaf menu-mlid-489"><a href="/pagina/aia">AIA</a></li>
<li class="leaf has-children menu-mlid-490"><a href="/pagina/reach">REACH</a></li>
<li class="leaf has-children menu-mlid-491"><a href="/pagina/programmi-comunitari">Programmi comunitari</a></li>
<li class="leaf has-children menu-mlid-492"><a href="/pagina/life-2014-2020" title="LIFE (2014-2020)">LIFE (2014-2020)</a></li>
<li class="leaf has-children menu-mlid-493"><a href="/pagina/cip-eco-innovation">Cip Eco Innovation</a></li>
<li class="leaf has-children menu-mlid-494"><a href="/pagina/sviluppo-sostenibile">Sviluppo sostenibile</a></li>
<li class="leaf has-children menu-mlid-495"><a href="/pagina/clima">Clima</a></li>
<li class="leaf has-children menu-mlid-496"><a href="/pagina/statistiche-ambientali">Statistiche Ambientali</a></li>
<li class="leaf has-children menu-mlid-497"><a href="http://www.minambiente.it/pagina/convenzione-delle-alpi">Convenzione delle Alpi</a></li>
<li class="leaf has-children menu-mlid-498"><a href="/pagina/gpp-acquisti-verdi">GPP - Acquisti Verdi</a></li>
<li class="leaf has-children menu-mlid-2020"><a href="/pagina/certificazione-ambientale-ecolabel-emas" title="Certificazione ambientale, Ecolabel, Emas">Certificazione ambientale, Ecolabel, Emas</a></li>
<li class="leaf has-children menu-mlid-499"><a href="/pagina/associazioni-di-protezione-ambientale-legge-8-luglio-1986-n-349">Associazioni di Protezione Ambientale (legge 8 luglio 1986, n. 349)</a></li>
<li class="leaf has-children menu-mlid-789"><a href="/pagina/formazione-universitaria">Formazione Universitaria</a></li>
<li class="leaf has-children menu-mlid-912"><a href="/pagina/piano-dazione-europeo-lecoinnovazione-ecoap">Piano d’azione europeo per l’ecoinnovazione (ECOAP)</a></li>
<li class="leaf has-children menu-mlid-941"><a href="/pagina/valutazione-del-rischio-ambientale-vra">Valutazione del Rischio Ambientale (VRA)</a></li>
<li class="leaf has-children menu-mlid-1006"><a href="/pagina/mare">Mare</a></li>
<li class="leaf has-children menu-mlid-1020"><a href="/pagina/inquinamento-atmosferico">Inquinamento atmosferico</a></li>
<li class="leaf has-children menu-mlid-1066"><a href="/pagina/biocarburanti-e-bioliquidi">Biocarburanti e bioliquidi</a></li>
<li class="leaf has-children menu-mlid-1074"><a href="/pagina/aree-naturali-protette">Aree naturali protette</a></li>
<li class="leaf has-children menu-mlid-1110"><a href="/pagina/biodiversita">Biodiversità</a></li>
<li class="leaf has-children menu-mlid-1120"><a href="/pagina/rete-natura-2000">Rete Natura 2000</a></li>
<li class="leaf has-children menu-mlid-1131"><a href="/pagina/energia">Energia</a></li>
<li class="leaf has-children menu-mlid-1144"><a href="/pagina/rifiuti">Rifiuti</a></li>
<li class="leaf has-children menu-mlid-1150"><a href="/pagina/rischio-industriale">Rischio industriale</a></li>
<li class="last leaf has-children menu-mlid-1157"><a href="/pagina/inquinamento-da-mercurio">Inquinamento da mercurio</a></li>
</ul></div>
  </div>
</div>
  </div>
          <div class="region region-footer-fifthcolumn">
    <div id="block-menu-block-6" class="block block-menu-block">

    <h2>Utilità</h2>
  
  <div class="content">
    <div class="menu-block-wrapper menu-block-6 menu-name-menu-utilit- parent-mlid-0 menu-level-1">
  <ul class="menu clearfix"><li class="first leaf has-children menu-mlid-532"><a href="/pagina/link" accesskey="K">Link</a></li>
<li class="leaf menu-mlid-533"><a href="/pagina/accessibilita">Accessibilità</a></li>
<li class="leaf menu-mlid-534"><a href="/pagina/contatti">Contatti</a></li>
<li class="last leaf menu-mlid-1165"><a href="/pagina/cosa-e-lurp" title="">Urp</a></li>
</ul></div>
  </div>
</div>
  </div>
      </div> <!-- /#footer-columns -->
    
    
  </div></div>
