{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}
{% block header_wrapper %}
{% block header_account %}
{% endblock %}
<div id="page-wrapper">
	<div id="page">
		<div id="header-bar">
			<div id="header" class="without-secondary-menu">
				<div class="section clearfix">
					<a id="logo" rel="home" title="Home" href="http://www.minambiente.it">
			      		<img alt="Home" src="/catalog/img/head.jpg">
			    	</a>
				</div>
			</div>
			<div id="head-aree">

<div class="region region-header">
	<div id="block-menu-block-5" class="block block-menu-block">
		<div class="content">
    		<div class="menu-block-wrapper menu-block-5 menu-name-menu-aree-tematiche parent-mlid-0 menu-level-1">
  				<ul class="menu clearfix">
  					<li class="first leaf menu-mlid-518"><a href="http://www.minambiente.it/home_acqua" accesskey="1">Acqua</a></li>
					<li class="leaf has-children menu-mlid-519"><a href="http://www.minambiente.it/home_aria" accesskey="2">Aria</a></li>
					<li class="leaf menu-mlid-520"><a href="http://www.minambiente.it/home_energia" accesskey="3">Energia</a></li>
					<li class="leaf menu-mlid-521"><a href="http://www.minambiente.it/home_natura" accesskey="4">Natura</a></li>
					<li class="last leaf has-children menu-mlid-522"><a href="http://www.minambiente.it/home_territorio" accesskey="5">Territorio</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="block-views-social-block" class="block block-views">
		<!-- div class="linea"></div -->
  		<!-- h2 class="element-invisible">LINK-SOCIAL</h2 -->
		<div class="content">
    		<div class="view view-social view-id-social view-display-id-block view-dom-id-72f23055c41d8c82095d0ec9318e125e">
        	    <div class="view-content">
      				<div class="item-list-social">
      					<ul class="link-social">          
      						<li class="views-row views-row-1 views-row-odd views-row-first">
      							<div class="views-field views-field-body">
									<div class="field-content">
										<p>
											<a href="http://twitter.com/minambienteIT" target="_blank">
												<img alt="Twitter" src="/catalog/img/twitter.jpg" style="height: 27px; width: 26px;" title="Seguici su Twitter">
											</a>
										</p>
									</div>  
								</div>
							</li>
							<li class="views-row views-row-2 views-row-even">
								<div class="views-field views-field-body">
									<div class="field-content">
										<p>
											<a href="http://www.youtube.com/minambiente" target="_blank">
												<img alt="Youtube" src="/catalog/img/youtube.jpg" style="height: 27px; width: 26px;" title="Seguici su YouTube">
											</a>
										</p>
									</div>  
								</div>
							</li>
							<li class="views-row views-row-3 views-row-odd">  
								<div class="views-field views-field-body">        
									<div class="field-content">
										<p>
											<a href="http://www.facebook.com/pages/Rome-Italy/Ministero-dellAmbiente-e-della-Tutela-del-Territorio-e-del-Mare/345136718845" target="_blank">
												<img alt="Facebook" src="/catalog/img/facebook.jpg" style="height: 27px; width: 26px;" title="Seguici su Facebook">
											</a>
										</p>
									</div>  
								</div>
							</li>
          					<li class="views-row views-row-4 views-row-even views-row-last">  
          						<div class="views-field views-field-body">        
          							<div class="field-content">
          								<p>
          									<a href="http://www.minambiente.it/pagina/pec">
          										<img alt="Pec" longdesc="PEC" src="/catalog/img/icona_mail.jpg" style="height: 23px; width: 23px;" title="Pec">
          									</a>
          								</p>
									</div>  
								</div>
							</li>
						</ul>
					</div>    
				</div>
  			</div>  
  		</div>
	</div>
	<div id="block-menu-block-8" class="block block-menu-block">
		<!-- h2 class="element-invisible">Menu veloce</h2 -->
		<div class="content">
    		<div class="menu-block-wrapper menu-block-8 menu-name-menu-menu-veloce parent-mlid-0 menu-level-1">
				<ul class="menu clearfix">
					<li class="first leaf active menu-mlid-1186"><a href="http://www.minambiente.it" accesskey="H" class="active">Home</a></li>
					<li class="leaf menu-mlid-1187"><a href="http://www.minambiente.it/pagina/contatti" accesskey="C">Contatti</a></li>
					<li class="leaf menu-mlid-1399"><a href="http://www.minambiente.it/pagina/pec" accesskey="N">Pec</a></li>
					<li class="leaf menu-mlid-1188"><a href="http://www.minambiente.it/sitemap" accesskey="M">Mappa del sito</a></li>
					<li class="last leaf menu-mlid-1189"><a href="http://www.minambiente.it/ricerca" accesskey="R">Cerca nel sito</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
			    
			</div>  
		</div>
{% endblock %}
